<div class="add-offer">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-success d-flex justify-content-end" data-toggle="modal" data-target="#couponVerifyModal">{{ 'USER.OFFER.VALIDATE-COUPON' |  translate }}</button>
      <button type="button" class="btn btn-success d-flex justify-content-end" data-toggle="modal" data-target="#myAddofferModal">{{ 'USER.ADD-OFFER' |  translate }}</button>
  </div>
  <div class="container mt-2">
    <div class="row ">
      <div class="col-md-4 add-offer-list justify-content-center d-flex " *ngFor="let offer of offers">
        <div class="card border border-dark add-offer-card ">
          <div class="card-body ">
            <h5 class="card-title">{{offer.offerTitle.toUpperCase()}}</h5>
            <p class="card-text">
              {{ 'USER.OFFER.VALIDITY' |  translate }}{{offer.offerValidity | date}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{offer.offerDescription}}</li>
            <li class="list-group-item">{{ 'HOMEPAGE.PRODUCT-LIST.RS' |  translate }}{{offer.originalPrice}}</li>
            <li class="list-group-item">{{offer.discount}}{{ 'PRODUCT-PAGE.PER' |  translate }}</li>
          </ul>
          <div class="card-body">
            <button type="button" class="btn btn-secondary" (click)="updateOffer(offer.offerId)" data-toggle="modal" data-target="#myModal">{{ 'BUTTONS.UPDATE' |  translate }}</button>
            <button type="button" class="btn btn-dark" (click)="deleteOffer(offer.offerId)">{{ 'BUTTONS.DELETE' |  translate }}</button>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
     <div class="modal-header ">
          <h4 class="modal-title ">{{ 'USER.OFFER.UPDATE-OFFER' |  translate }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <select class="custom-select custom-select-md mb-3"  name="offerCategories" [(ngModel)]="offerCategories">
                <option selected>{{ 'HOMEPAGE.CATEGORIES.CATEGORY' |  translate }}</option>
                <option value="sports">{{ 'HOMEPAGE.CATEGORIES.SPORTS' |  translate }}</option>
                <option value="clothing">{{ 'HOMEPAGE.CATEGORIES.CLOTHES' |  translate }}</option>
                <option value="food">{{ 'HOMEPAGE.CATEGORIES.FOOD' |  translate }}</option>
              </select>


            </div>
            <div class="form-group col-md-6">
              <label for="discount">{{ 'USER.OFFER.DISCOUNT' |  translate }}</label>
              <input type="discount" class="form-control" id="discount" placeholder="{{discount}}" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="keywords"> {{ 'USER.OFFER.KEYWORD' |  translate }}</label>
              <input type="keywords" class="form-control" id="keywords" placeholder="{{keywords}}" [(ngModel)]="keywords" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="offerValidity"> {{ 'USER.OFFER.VALIDITY' |  translate }}</label>
              <input type="offerValidity" class="form-control" id="offerValidity" placeholder="{{offerValidity}}" [(ngModel)]="offerValidity" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="offerDescription"> {{ 'USER.OFFER.DESCRIPTION' |  translate }}</label>
              <input type="offerDescription" class="form-control" id="offerDescription" placeholder="{{offerDescription}}" [(ngModel)]="offerDescription" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="offerTerms">{{ 'USER.OFFER.TAC' |  translate }}</label>
              <input type="offerTerms" class="form-control" id="offerTerms" placeholder="{{offerTerms}}" [(ngModel)]="offerTerms" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="offerTitle">{{ 'USER.OFFER.NAME' |  translate }}</label>
              <input type="offerTitle" class="form-control" id="offerTitle" placeholder="{{offerTitle}}" [(ngModel)]="offerTitle" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="originalPrice">{{ 'USER.OFFER.O-PRICE' |  translate }}</label>
              <input type="originalPrice" class="form-control" id="originalPrice" placeholder="{{originalPrice}}" [(ngModel)]="originalPrice" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <button type="submit" class="btn button justify-content-center" data-dismiss="modal" (click)="submit()">{{ 'BUTTONS.SUBMIT' |  translate }}</button>
      </form>
      </div>
    </div>
  </div>
</div>



<div id="myAddofferModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header ">
          <h4 class="modal-title ">{{ 'USER.ADD-OFFER' |  translate }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
                  <select class="custom-select custom-select-md mb-3"  name="offerCategories" [(ngModel)]="offerCategories">
                    <option selected>{{ 'HOMEPAGE.CATEGORIES.CATEGORY' |  translate }}Select Category</option>
                    <option value="sports">{{ 'HOMEPAGE.CATEGORIES.SPORTS' |  translate }}sports</option>
                    <option value="clothing">{{ 'HOMEPAGE.CATEGORIES.CLOTHES' |  translate }}clothing</option>
                    <option value="food">{{ 'HOMEPAGE.CATEGORIES.FOOD' |  translate }}</option>
                  </select>
            </div>
            <div class="form-group col-md-6">
              <label for="discount">{{ 'USER.OFFER.DISCOUNT' |  translate }}</label>
              <input type="Discount" class="form-control" id="discount" placeholder="{{discount}}" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="keywords"> {{ 'USER.OFFER.KEYWORD' |  translate }}</label>
              <input type="keywords" class="form-control" id="keywords" placeholder="{{keywords}}" [(ngModel)]="keywords" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="offerValidity">{{ 'USER.OFFER.VALIDITY' |  translate }}</label>
              <input type="date" class="form-control" id="offerValidity" placeholder="{{offerValidity}}" [(ngModel)]="offerValidity" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="offerDescription">{{ 'USER.OFFER.DESCRIPTION' |  translate }}</label>
              <input type="offerDescription" class="form-control" id="offerDescription" placeholder="{{offerDescription}}" [(ngModel)]="offerDescription" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="offerTerms">{{ 'USER.OFFER.TAC' |  translate }}</label>
              <input type="offerTerms" class="form-control" id="offerTerms" placeholder="{{offerTerms}}" [(ngModel)]="offerTerms" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
           <div class="form-row">
            <div class="form-group col-md-6">
              <label for="offerTitle">{{ 'USER.OFFER.NAME' |  translate }}</label>
              <input type="offerTitle" class="form-control" id="offerTitle" placeholder="{{offerTitle}}" [(ngModel)]="offerTitle" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="originalPrice">{{ 'USER.OFFER.PRICE' |  translate }}</label>
              <input type="originalPrice" class="form-control" id="originalPrice" placeholder="{{originalPrice}}" [(ngModel)]="originalPrice" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <button type="submit" class="btn  btn-secondary button justify-content-center" data-dismiss="modal" (click)="getOffer()">{{ 'USER.ADD-OFFER' |  translate }}</button>
      </form>
      </div>
    </div>
    </div>
</div>

</div>
<div id="couponVerifyModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header ">
          <h4 class="modal-title ">{{ 'USER.OFFER.VERIFY-COUPON' |  translate }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="coupon">{{ 'USER.OFFER.COUPON' |  translate }}</label>
              <input type="coupon" class="form-control" id="coupon" [(ngModel)]="coupon" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <button type="submit" class="btn  btn-secondary button justify-content-center" data-dismiss="modal" (click)="couponValidate()">{{ 'BUTTONS.VALIDATE' |  translate }}</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-default" data-dismiss="modal">{{ 'BUTTONS.CLOSE' |  translate }}</button>
      </div>
    </div>
    </div>
</div>